/* demand 1*/

.demand1_file{
  margin-left: 17%;
  margin-bottom: 1em;
}
.demand1_file input{
  font-size: 18px;
  text-align: center;
  border: none;
  height: 2em;
  background-color: #b0b9d380;
}

.demand1_page{
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 8em;
}
.demand1_list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

input[type="radio"].demand1 {
  display: none;
}
input[type="radio"].demand1 + label {
  font-size: 14px;
  border-radius: 0.3rem;
  height: 4em;
  width: 10em;
  padding-top: 0.6em;
  text-align: center;
  color: #fff;
  background-color: #00A0C8;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}

input[type="radio"] + label{
  padding-top: 0.5em;
}
input[type="radio"].demand1:checked + label {
  background-color: #DE8300;
  border-color: #DE8300;
}

.demand1_adress input{
  font-size: 18px;
  height: 2em;
  width: 17em;
  padding-left: 0.5em;
  border: none;
  background-color: #b0b9d380;
}

.demand1_trip{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}
.demand1_trip label{
  font-size: 18px;
  text-align: center;
  padding-bottom: 0.8em;
  margin-left: 30%;
  font-weight: 500;
}
.demand1_trip input{
  width: 9em;
}

/* demand 2*/

.demand2_page{
  display: flex;
  flex-flow: wrap;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 8em;
}
.demand2_page h4,.demand1_page h4, .demand3_page h4 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 1em;
}

.demand2_message p {
  background-color: #b0b9d380;
  padding: 1em;
  border-radius: 2%;
}
.demand2_message textarea {
  display: flex;
  flex-wrap: wrap;
  height: 6em;
}
.demand2_input {
  background: #b0b9d380;
  border: none;
  border-radius: 3px;
  height: 3em;
  width: 19.5em;
  padding-left: 0.5em;
}

.demand2_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

input[type="radio"].demand2 {
  display: none;
}
input[type="radio"].demand2 + label {
  font-size: 14px;
  border-radius: 0.3rem;
  height: 3em;
  width: 17em;
  text-align: center;
  color: #fff;
  background-color: #00A0C8;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}

input[type="radio"] + label{
  padding-top: 0.5em;
}
input[type="radio"].demand2:checked + label {
  background-color: #DE8300;
  border-color: #DE8300;
}

.demand2_incident{
  padding-top: 1em;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.demand2_incident input{
  width:10em;
}
.demand2_price input{
  width: 7.5em;
  margin: 1em;
  border: #b0b9d390 solid 1px;
  border-radius: 5px;
}

/* demand 3*/

.demand3_page{
  display: flex;
  flex-flow: wrap;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 8em;
}

.pdf-preview{
  height: 20em;
  width: 15em;
  margin: 0 2em 0 2em;
}
.list-group{
  width: 19em;
}

.list-group span{
background-color: #DE8300;
}
.send-button{
  position: fixed;
  left: 6.7em;
  bottom: 5em;
  background-color: #de8300;
  color: white;
  text-align: center;
  width: 10em;
  height: 2.5em;
  border: solid 1px#DE8300;
  border-radius: 20px;
}