.main-head {
  padding-bottom: 5.5em;
}
.header {
  position: fixed !important;
  background-color: #00a0c8;
  left: 0;
  height: 5em;
  color: white;
  display: flex;
  width: 25em;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

#leftArrow {
  position: fixed;
  left: 1em;
  top: 1.5em;
}
#header {
margin-left: -1em;}
