.main-head {
    padding-bottom: 5.5em;
}
.header{
    position: fixed !important;
    left: 0;
    background-color: #00A0C8;
    height: 5em;
    color : white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;   
    font-weight: 200;
    
}

#leftArrow {
    position: fixed;
    left: 7px;
    top: 21;
}
