.upload_page {
  text-align: center;
}

.upload_page h1 {
  font-size: 18px;
  margin-bottom: 1em;
}

.upload_page h3 {
  font-size: 18px;
  margin: 1em;
}

.upload_page img{
    margin-top: 2em;
}

.upload_button {
  margin-top: 2em;
  background-color: white;
  color: #de8300;
  width: 10em;
  height: 3em;
  border: solid 1px#DE8300;
  border-radius: 20px;
}
